#content{
  padding: 20px;
}

li{
  list-style-type: none;
}

a{
  margin-top: 20px;
  color: blue;
}

h3{
  text-decoration: underline;
}

img{
  width: 35%;
  height: auto;
  float: right;
  border: black 2px solid;
}
